.Links a,
.Links {
  transition: all 200ms ease-in;
}

.Links a {
  background-color: #3c3836;
  padding: 15px;
  border-radius: 5px;
}

.Links a i svg {
  position: relative;
  top: 3px;
  right: 2px;
}

.Links a:hover {
  background-color: #d65d0e;
  color: #3c3836;
  transform: scale(1.2, 1.2);
}

.Links a:active {
  transform: scale(0.7, 0.7)
}

.Widgets div .Search input {
  border-bottom: 5px solid #d65d0e;
  border-radius: 5px;
  color: #ebdbb2;
}

.Overlay {
  opacity: 0%;
}